---

---

<h1 class="heading">Welcome to Huoi's Blog</h1>
<div class="paragraph">
  <p>
    When I was a young boy, my father took me into the city to see a marching band.
    <br>
    Now I am trying to be a rock and not to roll.
  </p>
</div>
