---

---

<nav class="flex items-center justify-center gap-4">
  <a
    href={`${import.meta.env.BASE_URL}/archive/1`}
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith(`${import.meta.env.BASE_URL}/archive`) ? "text-accent" : "",
    ]}>archive</a
  >
  <a
    href={`${import.meta.env.BASE_URL}/tags`}
    class:list={[
      "navigation animation",
      Astro.url.pathname.startsWith(`${import.meta.env.BASE_URL}/tags`) ? "text-accent" : "",
    ]}>tags</a
  >
</nav>
